*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
}
/* Header */
header{
    background-color:gray;
    background-image: url("/img/swirl.png");
    background-size: 100%;
    background-position: center;
    color: white;
    padding: 20px;
    height: 400px;
    text-align: center;
}
header .logo a{
   background-image: url("/img/logo.png"); 
   background-size: 300px;
   background-repeat: no-repeat;
   display: inline-block;
   height: 80px;
   position: relative;
   text-indent: -99999999px;
   top: -px;
   width: 300px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
    background-color: gainsboro;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}
/* Feautures */
.feautures{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.feautures figure{
    text-transform: uppercase;
  text-align: center; 
  margin: auto; 
  width: 100px;
}
.feautures figure img{
    border: 1px solid yellow;
    border-radius: 50%;
    width: 200px;
    box-shadow: black 10px 10px 10px;
}

/* Footer */
footer{
    background-color: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}